/* Stadium CSS v1.1 https://github.com/stadium-software/split-button */
.stadium-split-button {
    padding-right: 1.6rem;

    .button-container {

        padding-right: 0;
        display: flex;
        flex-direction: row;
        align-items: stretch;
        justify-items: stretch;
        box-shadow: var(--stadium-split-button-box-shadow, var(--BUTTON-BOX-SHADOW));
        background-color: var(--stadium-split-button-background-color, var(--BUTTON-BACKGROUND-COLOR));
        border-radius: 0.3rem;

        :hover:not(.split-option) {
            box-shadow: var(--stadium-split-button-hover-box-shadow, var(--BUTTON-HOVER-BOX-SHADOW));
        }

        button {
            box-shadow: none;
            border-right: 0.1rem solid var(--stadium-split-button-separator-line-color, var(--BODY-BACKGROUND-COLOR));
        }
    }

    .right-button {
        background-image: var(--stadium-split-button-icon, url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxZW0iIGhlaWdodD0iMWVtIiB2aWV3Qm94PSIwIDAgMzIgMzIiPjxwYXRoIGZpbGw9IiNmZmZmZmYiIGQ9Im0yNCAxMmwtOCAxMGwtOC0xMHoiLz48L3N2Zz4='));
        background-repeat: no-repeat;
        background-position: center;
        background-size: 1.6rem;
        border-color: var(--stadium-split-button-border-color, var(--BUTTON-BORDER-COLOR));
        padding-right: 2rem;
        cursor: pointer;
        border-top-right-radius: 0.3rem;
        border-bottom-right-radius: 0.3rem;
        position: relative;
    }

    .right-button:hover {
        background-color: var(--stadium-split-button-hover-background-color, var(--BUTTON-HOVER-BACKGROUND-COLOR));
    }

    .split-options {
        position: absolute;
        top: 96%;
        width: fit-content;
        text-wrap: nowrap;
        right: 0;
        display: none;
        background-color: var(--stadium-split-button-options-background-color, var(--BUTTON-HOVER-BACKGROUND-COLOR));
        border-radius: 0.3rem;
        flex-direction: column;
        padding: 0.6rem 0;
        border-bottom-right-radius: 0.6rem;
        border-bottom-left-radius: 0.6rem;
        border-top-right-radius: 0.6rem;

    }

    .split-option {
        cursor: pointer;
        padding: 0.4rem 0.8rem;
        color: var(--BUTTON-TEXT-COLOR, #333);
    }

    .split-option:hover {
        background-color: var(--stadium-split-button-options-hover-background-color, var(--BUTTON-BACKGROUND-COLOR));
        color: var(--BUTTON-TEXT-COLOR, #333);
    }

    .drop-down-container {
        display: none;
    }
}

.stadium-split-button.expanded .split-options {
    box-shadow: var(--stadium-split-button-options-box-shadow, var(--BUTTON-HOVER-BOX-SHADOW));
    display: flex;
}
html {
    min-height: 100%;
    font-size: 62.5%;
}